* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
}

/********************/
/* HEADER */
/********************/
.main-header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
}

.main-nav {
  /* Setting flex-grow to 1 so that it takes up the entire header. */
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.logo {
  height: 50px;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: inherit;
}

/********************/
/* HERO SECTION */
/********************/
.section-hero {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background: url(./images/mission-background.jpg) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background-color: black;
  width: 100%;
  padding: 12px 0;
  text-align: center;
}

.hero-heading {
  margin-bottom: 24px;
}

/********************/
/* FEATURED SECTION */
/********************/
.section-featured {
  width: 1000px;
  margin: 0 auto;
  padding: 96px 0;
  text-align: center;
}

.featured-heading {
  margin-bottom: 24px;
}

.featured-text {
  margin-bottom: 32px;
}

.featured-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.featured-tea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featured-img {
  height: 200px;
  width: 300px;
}
